body {
  margin: 0px;
  padding: 0px;
  font-family: 'Exo', sans-serif;
background: #ffffff;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
}


*{
  margin: 0px;
  padding: 0px;
}


#home-page{
  background-image: url(/images/header-bg.jpg);
  position: relative;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-bg{
  margin-top: 56px;
  background: linear-gradient(
    45deg
    , rgb(72, 44, 191) 0%, rgb(106, 198, 240) 100%);
  opacity: 0.8;
  height: 100%;
  padding-bottom: 50px;
}

.home-page h1{
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.03em;
}

.home-page h2{
  font-size: 40px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.home-page h3{
  color: #fefefe;
  margin-bottom: 20px;
}

#service-page{
  background-color: #ffffff;
  padding: 100px 0px;
}

#service-page .service-title{
  color: #000000;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 18px;
}

.service-aro-icon {
  color: #00b9f7;
  width: 380px;
  max-width: 90%;
  margin: 0 auto;
}

.service-aro-left {
  background: #00b9f7;
  width: 150px;
  max-width: 35%;
  height: 1px;
  float: left;
  margin-top: 16px;
}

.service-aro-right {
  background: #00b9f7;
  width: 150px;
  max-width: 35%;
  height: 1px;
  float: right;
  margin-top: 16px;
}

.service-aro-icon i {
  font-size: 16px;
  border: 1px solid;
  width: 33px;
  height: 33px;
  line-height: 32px;
  border-radius: 0px;
}

#service-page h2{
  color: #808b8d;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}

#service-page p{
  color: #808b8d;
  font-size: 14px;
  margin-bottom: 40px;
}

.service{
  margin-top: 10px;
}

.service i{
  color: #00b9f7;
  border-color: #00b9f7;
  border: 2px solid ;
  font-size: 30px;
  padding: 18px;
  border-radius: 0px;
  width: 72px;
  height: 70px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


.service:hover i{
	background: #00b9f7;
  color: #ffffff;
}

.service h3{
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
}

.service p{
  color: #808b8d;
  font-size: 14px;
}

#about-page{
  background-color: #1b1b1b;
  padding: 100px 0px;
}

#about-page .about-title{
  color: #f4f4f4;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 18px;
}

#about-page h2{
  color: #808b8d;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}

#about-page p{
  color: #808b8d;
  font-size: 14px;
  margin-bottom: 40px;
}

.member{
  margin-top: 25px;
}

.member .member-img{
  position: relative;
  width: 300px;
  margin: auto;
}

.member .member-img:before{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 200;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  opacity: 0;
  border-radius: 0px;
}

.member .member-img:hover:before{
  opacity: 0.6;
}

.member .member-img img{
  border-width: 3px;
  border-style: solid;
  border-radius: 0px;
  width: 100%;
  height: auto;
}
.member h3{
  color: #f7f7f7;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.member span{
  font-size: 18px;
}
